.comment{
  width: 100%;
}
.comments_wrapper{
  padding-top: 100px;
 /*  text-align: center; */
}
.list_comments {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .comment {
  padding: 0px 50px;
} */
 h1 {
   text-align: center;
}
.comment-discription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px yellow solid;
}
.comment-sender-name p {
  font-weight: bold;
}
.form_wrapper{
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input{
  font-family: monospace;
}
